
header {
  width: 100%;
  background: #4b627e;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.8);
}
.login-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 14px;
  font-size: 1rem;
  color: darkred;
}
.login-btn:hover {
  background-color: black;
  color: white;
}